body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container
{
    background-color: rgb(9, 50, 66);
    margin: 0 auto;
    width: 700px;
    height: 450px;
    color: white;
    display: flex;
    flex-direction: column;
}

.show-password
{
    border:3px solid white;
    padding: 1.5rem 2rem;
    font-size:1.3rem;
    text-align: center;
}

.action 
{
    margin: 1.5rem;
}

.wrapper
{
    display: flex;
    justify-content: space-around;
}

.checkbox,.radio,.range
{
    margin:1.5rem;
}

.checkbox > * , .radio > * , .range > *
{
    margin: .9rem;
}

